* {
  box-sizing: border-box;
}

body {
  font-family: "GT America Standard", sans-serif;
  margin: 0;
  background-color: #191a1b;
}

.container {
  background-color: #fff;
  box-sizing: border-box;
  max-width: 100%;
}

.navigation {
  padding-inline: 6.25rem;
  padding-block: 1.1875rem;
  height: 88px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.navigation > .navigation__text {
  display: flex;
  gap: 0.8125rem;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.navigation__logo {
  background-color: white;
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 0.7rem;
}

.navigation__line {
  width: 0.125rem;
  height: 1.8125rem;
  background-color: #fff;
}

.navigation__abstract {
  font-size: 1.375rem;
  font-weight: 600;
}

.navigation__help {
  font-size: 3rem;
  font-weight: 600;
}

.navigation__submit {
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  border-radius: 0.5rem;
}

.navigation__sign {
  background-color: #4c5fd5;
  font-size: 1.5rem;
  font-weight: 400;
  padding-inline: 2rem;
  padding-block: 0.8rem;
  color: #fff;
  border-radius: 0.5rem;
}

.hero {
  background-color: #dadbf1;
  padding-inline: 14.125rem;
  padding-block: 5rem 7.1875rem;
}

.hero__icon {
  align-content: center;
}

.section__text {
  font-size: 5rem;
  font-weight: 420;
  margin-bottom: 1.875rem;
  letter-spacing: -0.25rem;
  text-align: center;
}

.section__box {
  background-color: #fff;
  padding: 15px;
  margin-left: 190px;
  margin-right: 190px;
  margin-block: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid #000;
  border-radius: 0.1rem;
}

.hero__search {
  color: #a4a4aa;
  font-size: 1.25rem;
  font-weight: 400;
}

.hero__icon {
  width: 1.75rem;
  height: 2.25rem;
}

.hero__icon > img {
  width: 100%;
  height: 100%;
}

.main1 {
  padding-inline: 8.75rem;
  display: flex;
  margin-block: 8rem 4rem;
}

.main2 {
  padding-inline: 8.75rem;
  display: flex;
  margin-bottom: 4rem;
}

.main3 {
  padding-inline: 8.75rem;
  display: flex;
  margin-bottom: 4rem;
}

.main__container {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  align-items: flex-start;
  padding-right: 1.5rem;
}

.main__icon {
  background-color: #bce0c6;
  align-items: flex-start;
  width: 5rem;
  height: 5rem;
  margin-bottom: 10px;
  border-radius: 1rem;
}

.main__container__item {
  list-style: none;
}

.main__font1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.main__font2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.main__font3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #4c5fd5;
}

.footer {
  color: #fff;
  background-color: #000;
  padding-inline: 2.8125rem;
  display: flex;
}

.footer__container__item {
  list-style: none;
  justify-content: flex-end;
  position: relative;
  margin: 3.125rem;
}

.footer__container__item__copyright {
  align-content: end;
  list-style: none;
  padding-bottom: 3.75rem;
  position: relative;
  left: 1100px;
}

.footer__font1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 3rem 1rem;
}

.footer__font2 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.875rem;
}

.footer__font3 {
  font-size: 1rem;
  font-weight: 400;
}

.footer__font4 {
  font-size: 1.25rem;
  font-weight: 400;
}

.footer__logo {
  background-color: #fff;
  width: 2.1rem;
  height: 2.1rem;
  margin-bottom: 20px;
  border-radius: 0.7rem;
}
